<h1>Claire Sim</h1>
<h2>{{$ctrl.city}}</h2>
<div class="houses">
    <div ng-repeat="v in $ctrl.villagers">
        <img src="http://www.clker.com/cliparts/n/y/e/0/6/K/simple-cartoon-house-hi.png" width="100px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Stick_Figure.jpg" height="50px"> {{v}}
    </div>
    <span>Day: {{$ctrl.day}}</span>
</div>
<div class="console">
    <p>Welcome to Day {{$ctrl.day}}!</p>
    <div ng-repeat="n in $ctrl.villagers"><p>{{n}} ate 1 pound of food and 1 gallon of water.</p></div>
    <p>{{$ctrl.city}} has gained {{$ctrl.WS}} gallons of water from wells.</p>
    <a href="#!/task">
        <button>Continue</button>
    </a>
</div>
<p>Food: {{$ctrl.food}}</p>
<p>Water: {{$ctrl.water}}</p>
<p>Wood: {{$ctrl.wood}}</p>